body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {

  position: relative;

  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

nav {
  background-color: #f4f4f4;
  width: 200px;
  height: 100vh;
  float: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

nav ul li:hover {
  background-color: #ddd;
}

.content {
  margin-left: 220px;
  padding: 20px;
}

.btn-group {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: #555;
}

.message {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  /* Centraliza a mensagem */
  max-width: 600px;
}

.gwendolyn-regular {
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal
  ;
}

.gwendolyn-bold {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
  
}

#contact-box {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o formulário de cadastro */
.cadastro-form {
  background-color: #f8f8f8;
  /* Cor de fundo */
  border-radius: 10px;
  /* Cantos arredondados */
  padding: 20px;
  /* Espaçamento interno */
  margin-top: 20px;
  /* Espaçamento superior */
}


.cadastro-form label {
  display: block;
  margin-top: 10px;
  color: #555;
  /* Cor do texto do rótulo */
}

.cadastro-form input[type="text"],
.cadastro-form input[type="email"],
.cadastro-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  /* Cor da borda */
  border-radius: 5px;
  /* Cantos arredondados */
}

.cadastro-form input[type="submit"] {
  background-color: #007bff;
  /* Cor de fundo do botão */
  color: #fff;
  /* Cor do texto do botão */
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro-form input[type="submit"]:hover {
  background-color: #0056b3;
  /* Cor de fundo do botão ao passar o mouse */
}

.cadastro-form p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  /* Cor do texto do parágrafo */
}

.cadastro-form a {
  color: #007bff;
  /* Cor do link */
  text-decoration: none;
}

.cadastro-form a:hover {
  text-decoration: underline;
  /* Sublinhar o link ao passar o mouse */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

nav {
  float: left; 
  background-color: #f4f4f4;
  width: 200px;
  height: 100vh;
  float: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

nav ul li:hover {
  background-color: #ddd;
}

/*imagens body home*/
.content {
  margin-left: 220px;
  padding: 20px;
}


/*footer*/
/* Estilos para o footer */
footer {
  background-color: #333;
  /* Cor de fundo do footer */
  color: #fff;
  /* Cor do texto */
  padding: 20px 0;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhamento do texto */
  position: fixed;
  /* Posição fixa na parte inferior */
  width: 100%;
  /* Largura total */
  bottom: 0;
  /* Alinhamento na parte inferior */

  z-index: 1000; /* Alto valor para garantir que fique no c*
}

.footer-icons a {
  color: #fff;
  /* Cor dos ícones */
  text-decoration: none;
  /* Remover sublinhado */
  margin: 0 0px;
  /* Espaçamento entre os ícones */
}


/*nav*/
.sidebar {
  width: 200px;
  height: 100vh;
  position: relative;
  z-index: 1;
  top: 0; /* Ajuste o valor conforme a altura do seu header */
  left:0;
  background-color: #111;
  overflow-x: hidden;


  
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidebar a:hover {
  color: #f1f1f1;
}