/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos do header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

header img {
  height: auto;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
}

.admin-page {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Estilos do menu de navegação */
nav {
  background-color: #f4f4f4; /* Cor de fundo */
  width: 100%;
  padding: 10px 0; /* Espaçamento interno no topo e embaixo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para um leve efeito de elevação */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 10px 20px;
  margin: 0 5px; /* Espaçamento entre os itens do menu */
}

nav ul li a {
  text-decoration: none; /* Remover sublinhado */
  color: #333; /* Cor do texto */
  font-weight: bold;
  transition: color 0.3s ease; /* Transição suave para mudança de cor */
}

nav ul li a:hover {
  color: #555; /* Cor do texto ao passar o mouse */
}

/* Estilos do conteúdo principal */
.content {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

.content img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

/* Estilos do grupo de botões */
.btn-group {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: #555;
}

/* Estilos do rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-icons img {
  height: 40px;
}


.vagas{
  padding: 8px;
  margin: 1%;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

